<% provide(:page_title, "ホーム") %>
<% provide(:back_graphic, 'background-image: url(' + asset_path("bg_page-your-records.png") + ');') %>

<div id="page-your-records" class="content-page" >
  <div id="records-content">
    <div class="your-records-image">
    <img src="/assets/your-records-image.png" alt="Title">
  </div>

  <div id="your-records-container">
    <table class="table table-bordered table-striped custom-rounded ">
      <!-- テーブルヘッダ -->
      <thead>
        <tr>
          <th class="bg-dark text-white bg">
            <img src="/assets/weapon_random.png" alt="支給ブキ" class="stage-image">
            <span class="stage-name">支給ブキ</span>
          </th>
          <% stages.each do |stage| %>
            <th class="bg-dark text-white bg">
              <img src=<%= stage[:path] %> alt=<%= stage[:name] %> style="width:128px; height:72px;">
              <span class="stage-name"><%= stage[:name] %></span>
            </th>
          <% end %>
        </tr>
      </thead>
      
      <!-- テーブル -->
      <tbody id="weapon-table-body">
        <% weapons.each.with_index(1) do |weapon, wi| %>
          <tr style=<%= wi%2==0 ? 'background-color:#3a414a;' : 'background-color:#373e46;'%>>
            <!-- 武器 -->
            <td style=<%= wi%2==0 ? 'background-color:#3a414a;' : 'background-color:#373e46;'%>>
              <div style="display: flex; align-items: center;">
                <img src=<%= weapon[:path] %> alt=<%= weapon[:name] %> style="vertical-align: middle;">
                <div style="display: block; margin-left: 10px;">
                  <div style="color: rgb(255, 79, 29); text-align: left;">バイト専用</div>
                  <div style="color: white; white-space: nowrap; text-align: left;"><%= weapon[:name] %></div>
                </div>
              </div>
            </td>
            <!-- キケン度 -->
            <% stages.each.with_index(1) do |stage, si| %>
              <td>
                <span style="display: inline-block; color: rgba(255, 255, 255); font-size: 36px; vertical-align: middle; min-width: 137px;">?</span>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
