<% provide(:title, "あなたの記録管理") %>
<% provide(:back_graphic, 'background-image: url(/assets/bg_page-your-records.png);') %>

<div id="content">
  <div id="page-your-records" class="content-page" >
    <div id="records-content">
      <div class="your-records-image">
      <img src="/assets/your-records-image.png" alt="Title">
    </div>

    
    <div id="your-records-container">
      <%= form_with(model: @user, url: update_record_path(params[:id])) do |f| %>
        <table class="table table-bordered table-striped custom-rounded">
          <!-- テーブルヘッダ -->
          <thead>
            <tr>
              <th class="bg-dark text-white bg rounded-left-th">
                <img src="/assets/weapon_random.png" alt="支給ブキ" class="stage-image">
                <span class="stage-name">支給ブキ</span>
              </th>
              <th class="bg-dark text-white bg">
                <img src="/assets/bg_sockeye_station.png" alt="アラマキ砦" style="width:128px; height:72px;">
                <span class="stage-name">アラマキ砦</span>
              </th>
              <th class="bg-dark text-white bg">
                <img src="/assets/bg_gone_fission_hydroplant.png" alt="ムニ・エール海洋発電所" style="width:128px; height:72px;">
                <span class="stage-name">ムニ・エール海洋発電所</span>
              </th>
              <th class="bg-dark text-white bg">
                <img src="/assets/bg_spawning_grounds.png" alt="シェケナダム" style="width:128px; height:72px;">
                <span class="stage-name">シェケナダム</span>
              </th>
              <th class="bg-dark text-white bg">
                <img src="/assets/bg_marooners_bay.png" alt="難破船ドン・ブラコ" style="width:128px; height:72px;">
                <span class="stage-name">難破船ドン・ブラコ</span>
              </th>
              <th class="bg-dark text-white bg">
                <img src="/assets/bg_jammin_salmon_junction.png" alt="すじこジャンクション跡" style="width:128px; height:72px;">
                <span class="stage-name">すじこジャンクション跡</span>
              </th>
              <th class="bg-dark text-white bg rounded-right-th">
                <img src="/assets/bg_salmonid_smokeyard.png" alt="トキシラズいぶし工房" style="width:128px; height:72px;">
                <span class="stage-name">トキシラズいぶし工房</span>
              </th>
            </tr>
          </thead>
          
          <!-- テーブル -->
          <tbody id="weapon-table-body">
            <% weapons.each.with_index(1) do |weapon, wi| %>
              <tr>
                <!-- 武器 -->
                <td>
                  <div style="display: flex; align-items: center;">
                    <img src=<%= weapon[:path] %> alt=<%= weapon[:name] %> style="vertical-align: middle;">
                    <div style="display: block; margin-left: 10px;">
                      <div style="color: rgb(255, 79, 29);">バイト専用</div>
                      <div style="color: white; white-space: nowrap;"><%= weapon[:name] %></div>
                    </div>
                  </div>
                </td>
                <!-- キケン度 -->
                <% 1.upto(6) do |si| %>
                  <td>
                    <%= f.hidden_field 'records[][stage_id]', value: si %>
                    <%= f.hidden_field 'records[][weapon_id]', value: wi %>
                    <%= f.number_field 'records[][hazard_level]', in: 0..333, value: @records.find_by(stage_id: si, weapon_id: wi).hazard_level, step: 1 %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= f.submit "変更" %>
      <% end %>
    </div>
  </div>
</div>