<% provide(:title, @user.name+"さんの記録編集") %>
<% provide(:back_graphic, 'background-image: url(' + asset_path("bg_page-your-records.png") + ');') %>

<div id="page-your-records" class="content-page" >
  <div id="records-content">
    <div class="your-records-image">
    <img src=<%= asset_path('your-records-image.png') %> alt="Title">
  </div>

  <div id="your-records-container">
    <%= form_with(model: @user, url: update_records_path(params[:id])) do |f| %>
      <table class="table table-bordered table-striped custom-rounded">
        <!-- テーブルヘッダ -->
        <thead>
          <tr>
            <th class="bg-dark text-white bg">
              <img src=<%= asset_path('weapon_random.png') %> alt="支給ブキ" class="stage-image">
              <span class="stage-name">支給ブキ</span>
            </th>
            <% stages.each do |stage| %>
              <th class="bg-dark text-white bg">
                <img src=<%= stage[:path] %> alt=<%= stage[:name] %> style="width:128px; height:72px;">
                <span class="stage-name"><%= stage[:name] %></span>
              </th>
            <% end %>
          </tr>
        </thead>

        <!-- テーブル -->
        <tbody id="weapon-table-body">
          <% weapons.each.with_index(1) do |weapon, wi| %>
            <tr style=<%= wi%2==0 ? 'background-color:#3a414a;' : 'background-color:#373e46;'%>>
              <!-- 武器 -->
              <td style=<%= wi%2==0 ? 'background-color:#3a414a;' : 'background-color:#373e46;'%>>
                <div style="display: flex; align-items: center;">
                  <img src=<%= weapon[:path] %> alt=<%= weapon[:name] %> style="vertical-align: middle;">
                  <div style="display: block; margin-left: 10px;">
                    <div style="color: rgb(255, 79, 29); text-align: left;">バイト専用</div>
                    <div style="color: white; white-space: nowrap; text-align: left;"><%= weapon[:name] %></div>
                  </div>
                </div>
              </td>
              <!-- キケン度 -->
              <% stages.each.with_index(1) do |stage, si| %>
                <td>
                  <%= f.hidden_field 'records[][stage_id]', value: si %>
                  <%= f.hidden_field 'records[][weapon_id]', value: wi %>
                  <%= f.number_field 'records[][hazard_level]', in: 0..333, value: @records.find_by(stage_id: si, weapon_id: wi).hazard_level, step: 1 %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div style="text-align:right;">
                <%= f.submit "変更", class: "btn btn-light" %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>