<% provide(:title, "アカウント更新") %>
<h1>アカウント更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "新しいアカウント名（10文字以内）" %>
      <%= f.text_field :name, class: 'form-control', maxlength: "10" %>

      <%= f.label :password, "新しいパスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "新しいパスワード（確認）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "変更", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>