<% provide(:title, 'ユーザ管理') %>

<div id="page-account-management" class="content-page" style="display: block;">
  <!-- 検索用セクション -->
  <div class="section-bar-title">
  	<h2 class="section-title">任意のアカウントを検索</h2>
  </div>
  <div class="section-content">
  	<p>アカウントIDを入力するか、権限にチェックを入れてください（複数選択できます）</p>
  </div>

  <!-- 検索用テーブル -->
  <table class="table table-hover mb-0" id="search-table"><tbody>
    <tr>
  	  <td>アカウントID</td>
  	  <td>
  	  	<input type="text" class="form-control" id="searchInputAccountID" placeholder="account ID">
  	  </td>
  	</tr>

  	<tr id="search-button-row">
  		<td colspan="2"> <!-- この行を1列に拡張 -->
  			<!-- 検索ボタン -->
				<button class="btn btn-outline-orange mb-0" id="search-button" data-turbolinks="false" type="submit">検索</button>
  		</td>
  	</tr>
  </tbody></table>
  
  <!-- アカウント一覧用セクション -->
  <div class="section-bar-title">
  	<h2 class="section-title">該当するアカウント一覧</h2>
  </div>
  <div class="section-content">
  	<p>内容を入力後、「変更」を選択することで変更内容が反映されます</p>
  </div>

  <!-- アカウント一覧用テーブル -->
  <table class="table table-sm table-hover table-striped" id="custom-table">
    <thead class="thead-dark">
    	<tr>
    		<th scope="col">現在のアカウントID</th>
    		<th scope="col">権限</th>
    		<th scope="col">アカウント削除</th>
    	</tr>
    </thead>
    <tbody id="accountList">
			<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.name, edit_user_path(user) %></td>						
					<td>
						<%= form_with(model: user, class: "form-inline") do |f| %>
							<%= f.select :authority, [["閲覧", 0],["記録", 1],["管理", 2]], {}, {class: 'form-control'} %>
							<%= f.submit '変更', class: "btn btn-info form-control"%>
						<% end %>
					</td>
					<td><%= button_to "削除", user_path(user.id), { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: "btn btn-danger" } %></button></td>
				</tr>
			<% end %>
    </tbody>
  </table>
</div>
