<% provide(:title, "トロフィ管理") %>
<% provide(:back_graphic, 'background-image: url(/assets/bg_page-border-lines.png);') %>

<div id="page-border-lines" class="content-page" >
  <div id="records-content">
    <div class="border-lines-image">
    <img src="/assets/border-lines-image.png" alt="Title">
  </div>

  <div id="border-lines-container">
    <table class="table table-bordered table-striped custom-rounded">
      <!-- テーブルヘッダ -->
      <thead>
        <tr>
          <th class="bg-dark text-white bg">
            <img src="/assets/weapon_random.png" alt="支給ブキ" class="stage-image">
            <span class="stage-name">支給ブキ</span>
          </th>
          <% stages.each do |stage| %>
            <th class="bg-dark text-white bg">
              <img src=<%= stage[:path] %> alt=<%= stage[:name] %> style="width:128px; height:72px;">
              <span class="stage-name"><%= stage[:name] %></span>
            </th>
          <% end %>
        </tr>
      </thead>

      <!-- テーブル -->
      <%= form_with(url: update_trophies_path, method: :patch) do |f| %>
        <tbody id="weapon-table-body">
          <% weapons.each.with_index(1) do |weapon, wi| %>
            <tr style=<%= wi%2==0 ? 'background-color:#3a414a;' : 'background-color:#373e46;'%>>
              <!-- 武器 -->
              <td style=<%= wi%2==0 ? 'background-color:#3a414a;' : 'background-color:#373e46;'%>>
                <div style="display: flex; align-items: center;">
                  <img src=<%= weapon[:path] %> alt=<%= weapon[:name] %> style="vertical-align: middle;">
                  <div style="display: block; margin-left: 10px;">
                    <div style="color: rgb(255, 79, 29); text-align: left;">バイト専用</div>
                    <div style="color: white; white-space: nowrap; text-align: left;"><%= weapon[:name] %></div>
                  </div>
                </div>
              </td>
              <!-- キケン度 -->
              <% stages.each.with_index(1) do |stage, si| %>
                <td style="color: rgb(255, 255, 255); font-size: 24px;">
                  <img src="/assets/weapon_trophy_gold.png" style="width: 32px; height: 32px; vertical-align: middle;">
                  <%= f.hidden_field 'trophies[][stage_id]', value: si %>
                  <%= f.hidden_field 'trophies[][weapon_id]', value: wi %>
                  <%= f.hidden_field 'trophies[][color_id]', value: 1 %>
                  <%= f.number_field 'trophies[][hazard_level]', in: 0..333, value: @trophies.find_by(stage_id: si, weapon_id: wi, color_id: 1).hazard_level, step: 1 %>
                  <br>
                  <img src="/assets/weapon_trophy_silver.png" style="width: 32px; height: 32px; vertical-align: middle;">
                  <%= f.hidden_field 'trophies[][stage_id]', value: si %>
                  <%= f.hidden_field 'trophies[][weapon_id]', value: wi %>
                  <%= f.hidden_field 'trophies[][color_id]', value: 2 %>
                  <%= f.number_field 'trophies[][hazard_level]', in: 0..333, value: @trophies.find_by(stage_id: si, weapon_id: wi, color_id: 2).hazard_level, step: 1 %>
                  <br>
                  <img src="/assets/weapon_trophy_bronze.png" style="width: 32px; height: 32px; vertical-align: middle;">
                  <%= f.hidden_field 'trophies[][stage_id]', value: si %>
                  <%= f.hidden_field 'trophies[][weapon_id]', value: wi %>
                  <%= f.hidden_field 'trophies[][color_id]', value: 3 %>
                  <%= f.number_field 'trophies[][hazard_level]', in: 0..333, value: @trophies.find_by(stage_id: si, weapon_id: wi, color_id: 3).hazard_level, step: 1 %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div style="text-align:right;">
                <%= f.submit "変更", class: "btn btn-light" %>
              </div>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>