<% provide(:title, "トロフィ表示") %>
<% provide(:back_graphic, 'background-image: url(/assets/bg_page-border-lines.png);') %>

<div id="content">
  <div id="page-border-lines" class="content-page" >
    <div id="records-content">
      <div class="border-lines-image">
      <img src="/assets/border-lines-image.png" alt="Title">
    </div>

    
    <div id="border-lines-container">
      <table class="table table-bordered table-striped custom-rounded">
        <!-- テーブルヘッダ -->
        <thead>
          <tr>
            <th class="bg-dark text-white bg">
              <img src="/assets/weapon_random.png" alt="支給ブキ" class="stage-image">
              <span class="stage-name">支給ブキ</span>
            </th>
            <% stages.each do |stage| %>
              <th class="bg-dark text-white bg">
                <img src=<%= stage[:path] %> alt=<%= stage[:name] %> style="width:128px; height:72px;">
                <span class="stage-name"><%= stage[:name] %></span>
              </th>
            <% end %>
          </tr>
        </thead>
        
        <!-- テーブル -->
        <tbody id="weapon-table-body">
          <% weapons.each.with_index(1) do |weapon, wi| %>
            <tr>
              <!-- 武器 -->
              <td style=<%= wi%2==0 ? 'background-color:#3a414a;' : 'background-color:#373e46;'%>>
                <div style="display: flex; align-items: center;">
                  <img src=<%= weapon[:path] %> alt=<%= weapon[:name] %> style="vertical-align: middle;">
                  <div style="display: block; margin-left: 10px;">
                    <div style="color: rgb(255, 79, 29);">バイト専用</div>
                    <div style="color: white; white-space: nowrap;"><%= weapon[:name] %></div>
                  </div>
                </div>
              </td>
              <!-- キケン度 -->
              <% stages.each.with_index(1) do |stage, si| %>
                <td style="color: rgb(255, 255, 255); font-size: 24px;">
                  <img src="/assets/weapon_trophy_gold.png" style="width: 32px; height: 32px; vertical-align: middle;">
                  <span style="display: inline-block; min-width: 70px; text-align: right;"><%= @trophies.find_by(stage_id: si, weapon_id: wi, color_id: 1).hazard_level %>%</span>
                  <br>
                  <img src="/assets/weapon_trophy_silver.png" style="width: 32px; height: 32px; vertical-align: middle;">
                  <span style="display: inline-block; min-width: 70px; text-align: right;"><%= @trophies.find_by(stage_id: si, weapon_id: wi, color_id: 2).hazard_level %>%</span>
                  <br>
                  <img src="/assets/weapon_trophy_bronze.png" style="width: 32px; height: 32px; vertical-align: middle;">
                  <span style="display: inline-block; min-width: 70px; text-align: right;"><%= @trophies.find_by(stage_id: si, weapon_id: wi, color_id: 3).hazard_level %>%</span>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>