<p>ヘッダー</p>

<li><%= link_to "ホーム",         root_path   %></li>
<li><%= link_to "ユーザー検索",   users_path %></li>
<% unless logged_in? %>
  <li><%= link_to "アカウント登録", new_user_path %></li>
  <li><%= link_to "ログイン",       login_path %></li>
<% else %>
  <li><%= link_to "あなたの記録",   record_path(current_user) %></li>
  <li><%= link_to "プロファイル",   current_user %></li>
  <li><%= link_to "アカウント設定", edit_user_path(current_user) %></li>
  <li><%= link_to "ログアウト",     logout_path, data: { "turbo-method": :delete } %></li>
<% end %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="#">ワンオペ記録</a>
</nav>